header{
    top: 50px;
  position: relative;
  background-color: #DBE9EE;
  text-align: center;
  width: 100%;
}
body {
  position:relative;
  top:10px;
   
  margin: 0 auto;
}
.background{
    background-image: linear-gradient(red, orange,yellow,green,cyan,purple);
}
.order{
    top: 40px;
  text-align: center;
  position: relative;
}
.thanks{
    visibility: hidden;
}
.top-menu {
  display: inline-block;
  background-color: rgb(255, 229, 227);
  color:  pink;
  width: 80px;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}
.top-menu:hover{
    background-color:  rgb(237, 189, 255);
}
.top-nav{
    z-index: 10;
  width: 100%;
  position: fixed;
  background-color: #466995;
  border-bottom: 1px solid #466995;
}
top-horizontal{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#333;
}
.lefty{
    float:left;
}
.right{
    float: right;
}
.topmenu a{
    display: block;
    color: white;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
}
.topmenu a:hover{
    background-color: #111
    
}