<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="stylesheets/homepage.css">
        <title>Welcome!</title>
        <link rel="icon" href="images/san-x.png">
        <div class="heading">
            <li><a href="https://user.tjhsst.edu/2021lyang/weatherform">Weather</a></li>
            <li style="float:right"><a href={{link}}> Login</a></li>
            <li><a href="https://user.tjhsst.edu/2021lyang/funform" >Boba!</a></li>
            <li><a href="https://user.tjhsst.edu/2021lyang/voting_form">Vote !</a></li>
            <li><a href="https://user.tjhsst.edu/2021lyang/map" >Map!</a></li>
            <li><a href="https://user.tjhsst.edu/2021lyang/cookie" >SURPRISE!</a></li>
            <li><a href="https://user.tjhsst.edu/2021lyang/addpoints" >Houses</a></li>
            <li><a href="https://user.tjhsst.edu/2021lyang/viewpoints" >View</a></li>
            <li><a href="https://user.tjhsst.edu/2021lyang/unity" >Game</a></li>
        </div>
    </head>
    <body class="background">
        Welcome to Lydia's Website!
        <div class="links">
             <li><a href="https://user.tjhsst.edu/2021lyang/weatherform">Weather</a></li>
            <li><a href={{link}}> Login</a></li>
            <li><a href="https://user.tjhsst.edu/2021lyang/funform" >Boba!</a></li>
            <li><a href="https://user.tjhsst.edu/2021lyang/voting_form">Vote !</a></li>
            <li><a href="https://user.tjhsst.edu/2021lyang/map" >Map!</a></li>
            <li><a href="https://user.tjhsst.edu/2021lyang/cookie" >SURPRISE!</a></li>
            <li><a href="https://user.tjhsst.edu/2021lyang/addpoints" >Houses</a></li>
            <li><a href="https://user.tjhsst.edu/2021lyang/viewpoints" >View</a></li>
            <li><a href="https://user.tjhsst.edu/2021lyang/unity" >Game</a></li>
        </div><br>
        <img src="images/cinnamoroll.jpg" ><br>
        <img src="images/smkgrs.png"><br>
        <img src="images/sumikkogurashi.jpg">
    
    
    
    
    </body>
</html>
