<!DOCTYPE html>
<html>
    Hello {{username}}!<br>
    You have visited this page {{count}} times<br>
    You are logged in<br>
    <a href="https://user.tjhsst.edu/2021lyang/cookiereset">Click this to log out</a><br>
    <img src={{img}} alt="Pineapple Bun" height="500" width="500">
</html>