<header>
    <title>Map instructions</title>
</header>
<body style="background-image: linear-gradient(to right, rgb(212, 255, 241),rgb(223, 212, 255))">
    <h1>Instructions:</h1><br>
    Answer with the province that best answers the question<br>
    Press 'enter' when done<br><br>
    <h2>Formatting answers</h2><br>
    When formatting your answer, please put an underscore '_' between each <br>
    word and capitalize the first letter of each word <br>
    ex. 北京 --> Bei_Jing <br>
    内蒙古 --> Nei_Meng_Gu<br><br>
</body>
<a href="https://user.tjhsst.edu/2021lyang/map" >Back to the game!</a>