<!DOCTYPE html>
<html>
<head>
        <title>Vote!</title>
        <link rel="stylesheet" type="text/css" href="stylesheets/survey.css">
</head>

<body>
    <div class="top-nav">
        <ul class="top-horizontal">
            <li class="top-menu lefty"><a href="https://user.tjhsst.edu/2021lyang/">Home</a></li>
            <li class="top-menu lefty"><a href="https://user.tjhsst.edu/2021lyang/weatherform">Weather</a></li>
        </ul>
    </div>
<div class="content">
    <p id="p-main">
        <div id="Instruction">
      欢迎光临 请选一个您最想喝的奶茶 Choose a Boba<br>
      </div>
      <div>
      <form id="the_form" name="the_form" >
        <label id="Cheese">
        <input type="radio" name="the_number" value="cheese" id="Cheese">
            <img alt='Cheese foam' src="https://s3-media4.fl.yelpcdn.com/bphoto/t7u_7dX-eIl9usTxU85T3Q/o.jpg"height="200" width="300">
        </label>
        <label id="Brown">
        <input type="radio" name="the_number" value="brown" id="Brown">
            <img alt='Brown sugar' src="https://www.straitstimes.com/sites/default/files/styles/article_pictrure_780x520_/public/articles/2018/10/09/nz-bubbletea-091019.jpg?itok=24L0kqFn&timestamp=1539070627"height="200" width="300">
        </label>
        <label id="Tapioca">
        <input type="radio" name="the_number" value="tapioca">
            <img alt='tapioca' src="https://www.thelittleepicurean.com/wp-content/uploads/2018/08/boba-milk-tea-drink-.jpg"height="200" width="300">
            
        </label>
        <label id="Thai">
        <input type="radio" name="the_number" value="thai" >
            <img alt='thai tea' src="https://www.rachelcooksthai.com/wp-content/uploads/2013/07/thai-tea-boba-2.jpg"height="200" width="300">
        </label>
        </div>
      </form>

    </p><br>
    <p id="poll-result"></p>
    <button type="button" onclick="fetchFromServer()">Vote!</button>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript">
function fetchFromServer() {
    var form_string = $("#the_form").serialize()
    console.log('hello');
    var ajax_params = {
        'url'     : "voting_workers",
        'type'    : "get",
        'data'    : form_string,
        'success' : onServerResponse
    }
    
    $.ajax( ajax_params )
}
function onServerResponse (responseText) {
    
    document.getElementById('poll-result').innerHTML = (responseText);
}
</script>

</body>
</html>