<!DOCTYPE html>
<html>
    <head>
  <title>Weather form</title>
  <li class="top-menu lefty"><a href="https://user.tjhsst.edu/2021lyang/">Home</a></li>
            <li class="top-menu lefty"><a href="https://user.tjhsst.edu/2021lyang/funform">Boba</a></li>
</head>
<body>
   <h1>Weather form<br></h1> 
   <h2>Put in coordinates</h2>
   <form action="getweather" method="get">
       Longitude:<br>
       <input type="text" name="long">
       <br>
       Latitude:<br>
       <input type="text" name="lat">
       <br>
       Json?
       <input type = "radio" name = "type" value = "yes">Yes<br>
       <input type = "radio" name = "type" value = "no">No<br>
       <button type="submit">I'm Done!</button>
   </form>
</body>
</html>